<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../views/head %>
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="custom/css/course.css">        
    </head>
    <body>
        <header>
            <% include ../views/navbar %>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>BIG DATA</h2>
                    <p class = "hidden"><%= course._id %></p>
                </div>
                <div class="col-md-4 col-md-offset-3">
                    <button type="button" class="btn btn-enroll">Enroll now</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="list-group">
                        <a href="/lesson" class="list-group-item">Bai 1
                            <h4 class="list-group-item-heading">Introduction </h4>
                            <p class="list-group-item-text">...</p>15:00
                            <span class="badge">free</span>
                        </a>

                        <a href="/lesson" class="list-group-item list-group-item-warning">Bai 2
                            <h4 class="list-group-item-heading">Basic </h4>
                            <p class="list-group-item-text">...</p>10:00</a></a>
                        <a href="/lesson" class="list-group-item">Bai 3
                            <h4 class="list-group-item-heading">Advance </h4>
                            <p class="list-group-item-text">...</p>18:00</a>
                        <a href="/lesson" class="list-group-item list-group-item-warning">Bai 4
                            <h4 class="list-group-item-heading">Finish </h4>
                            <p class="list-group-item-text">...</p>5:00</a></a>
                        <a href="/lesson" class="list-group-item">Bai 5
                            <h4 class="list-group-item-heading">Reference</h4>
                            <p class="list-group-item-text">...</p>2:00</a>
                        </a>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                     <div class="list-group">
                        <a href="#" class="list-group-item"><h3>About the Course:</h3>
                            <p>
                                In this course, you will get hands-on experience with machine learning from a series of practical case-studies.  At the end of the first course you will have studied how to predict house prices based on house-level features, analyze sentiment from user reviews, retrieve documents of interest, recommend products, and search for images.  Through hands-on practice with these use cases, you will be able to apply machine learning methods in a wide range of domains.
                            </p>
                        </a>
                        <a href="#" class="list-group-item"><h3>Learning Outcomes:</h3>
                            <p>
                                -Identify potential applications of machine learning in practice.  
                                -Describe the core differences in analyses enabled by regression, classification,  and clustering.
                                -Select the appropriate machine learning task for a potential application.  
                                -Apply regression, classification, clustering, retrieval, recommender systems, and deep learning.
                                -Represent your data as features to serve as input to machine learning models. 
                                -Assess the model quality in terms of relevant error metrics for each task.
                                -Utilize a dataset to fit a model to analyze new data.
                                -Build an end-to-end application that uses machine learning at its core.  
                                -Implement these techniques in Python.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/jquery/jquery.js"></script>
      
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script> 
    </body>
</html>