<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../views/head %>
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="custom/css/index.css">
        <link rel="stylesheet" href="custom/css/home.css">
        
    </head>
    <body>
        <header>
            <% include ../views/navbar %>
        </header>        
        <div class="jumbotron">
        </div>
        <div class="container">
        <div class="row" id="four">
            <div class="col-lg-4 col-lg-offset-4 text-center">
               <h2>Available Courses</h2>
            </div>
        </div>
        <div class="container">
            <div class="carousel slide" id="myCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                                <ul class="thumbnails">
                                    <li class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/images/machinelearning.jpg" alt=""></a>
                                            </div>
                                            <div class="caption">
                                                <h4>Machine Learning</h4>
                                                <p>Michigan University</p>
                                                <a class="btn btn-mini" href="#">» Read More</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/images/bigdata.jpg" alt=""></a>
                                            </div>
                                            <div class="caption">
                                                <h4>Big Data</h4>
                                                <p>Stanford University</p>
                                                <a class="btn btn-mini" href="#">» Read More</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/images/algorithm.jpg" alt=""></a>
                                            </div>
                                            <div class="caption">
                                                <h4>Algorithm</h4>
                                                <p>Pennsylvanie University </p>
                                                <a class="btn btn-mini" href="#">» Read More</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-sm-3">   
                                        <div class="fff">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/images/swift.jpg" alt=""></a>
                                            </div>
                                            <div class="caption">
                                                <h4>Swift</h4>
                                                <p>Henry William</p>
                                                <a class="btn btn-mini" href="#">» Read More</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                          </div><!-- /Slide1 --> 
                        <div class="item">
                                <ul class="thumbnails">
                                    <li class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/images/angular.jpg" alt=""></a>
                                            </div>
                                            <div class="caption">
                                                <h4>AngularJS 2</h4>
                                                <p>Brient Ảureli</p>
                                                <a class="btn btn-mini" href="#">» Read More</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/images/nodejs.jpg" alt=""></a>
                                            </div>
                                            <div class="caption">
                                                <h4>NodeJS</h4>
                                                <p>John Matial</p>
                                                <a class="btn btn-mini" href="#">» Read More</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/images/python.jpg" alt=""></a>
                                            </div>
                                            <div class="caption">
                                                <h4>Python</h4>
                                                <p>Ander Herrera</p>
                                                <a class="btn btn-mini" href="#">» Read More</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-sm-3">
                                        <div class="fff">
                                            <div class="thumbnail">
                                                <a href="#"><img src="/images/infomationsecurity.jpg" alt=""></a>
                                            </div>
                                            <div class="caption">
                                                <h4>ÌnformationSecurity</h4>
                                                <p>Neil Smalling</p>
                                                <a class="btn btn-mini" href="#">» Read More</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                          </div><!-- /Slide2 --> 
                    </div>
                    
                   
                   <nav>
                        <ul class="control-box pager">
                            <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                            <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
                        </ul>
                    </nav>
                   <!-- /.control-box -->   
            </div><!-- /#myCarousel -->
        </div>
    </div>


        <script type="text/javascript" src="/jquery/jquery.js"></script>
        <script type="text/javascript" src="/custom/js/index.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script> 
    </body>
</html>