<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="E-learning">
        <meta name="author" content="Le Tuan Dung">

        <title>E-learning</title>

        <!-- Bootstrap core CSS -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="custom/css/index.css">
        <link rel="stylesheet" href="custom/css/home.css">
        
    </head>
    <body>
        <header>
            <% include ../views/navbar %>
        </header>
        <div class="jumbotron">
        </div>
        <div class="container">
        <div class="row" id="four">
            <div class="col-lg-4 col-lg-offset-4 text-center">
               <h2>Available Courses</h2>
            </div>
        </div>
        <div class="container">
            <div class="carousel slide" id="myCarousel">
                    <div class="carousel-inner" id="courseSlide">                        
                    </div>                   
                   <nav>
                        <ul class="control-box pager">
                            <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                            <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
                        </ul>
                    </nav>
                   <!-- /.control-box -->   
            </div><!-- /#myCarousel -->
        </div>
    </div>


        <script type="text/javascript" src="/jquery/jquery.js"></script>
        <script type="text/javascript" src="/custom/js/home.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script> 
    </body>
</html>