<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../views/head %>
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="custom/css/lesson.css">        
    </head>
    <body>
        <header>
            <% include ../views/navbar %>
        </header>  
        <div class="container">
        	<h1>Noi dung bai hoc</h1>
        </div>


    	<script type="text/javascript" src="/jquery/jquery.js"></script>
        <script type="text/javascript" src="/custom/js/course.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script> 
    </body>
</html>