<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../views/head %>
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="../custom/css/lesson.css">        
    </head>
    <body>
        <header>
            <% include ../views/navbar %>
        </header>  
        <div class="container">
            <p id='lesson-id' class='hidden'><%=lesson.id%></p>
            <i><h1 id='title'></h1></i></br>
        	<h2>Noi dung bai hoc</h2>
            <p id='content'></p>
        </div>

    	<script type="text/javascript" src="/jquery/jquery.js"></script>
        <script type="text/javascript" src="/custom/js/lesson.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script> 
    </body>
</html>