
.li1{
    height: 60px;
    background-color: #6799ea;
}

.li2{
    height: 60px;
    background-color: #14d131;
}

.a-fix{
	margin-top: 5px;
	text-decoration: none; 
}

.white{
	color: white;
}

#iconIndex{
	height: 60px;
}


.hidden{
	display: none;
}


#btn-enroll{
	background-color: #4288f7;
	margin-top: 15px;
	color: white;
}

.message{
	display: none;
	font-size: 23px;
}

#message-hidden{
	margin-top: 15px;
}


.message-login{
	display: none;
	font-size: 23px;
}

.inform{
	font-size: 21px;
    color: green;
}

.error{
	font-size: 21px;
    color: red;
}

#message-login-hidden{
	margin-top: 15px;
}