
.li1{
    height: 60px;
    background-color: #6799ea;
}

.li2{
    height: 60px;
    background-color: #14d131;
}

.a-fix{
	margin-top: 5px;
	text-decoration: none; 
}

.white{
	color: white;
}

.hidden{
	display: none;
}

#iconIndex{
	height: 60px;
}


.btn-enroll{
	background-color: #4288f7;
	margin-top: 15px;
	color: white;
}
